body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    background: #222;
    padding: 10px;
    text-align: right;
}

#result {
    width: 100%;
    border: none;
    background: #222;
    color: #fff;
    font-size: 2em;
    padding: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.scientific-buttons {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Scientific buttons 8 columns */
    gap: 5px;
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    background: #1ed0f4;
    border: none;
    cursor: pointer;
}
.buttons .btn:nth-child(1),
.buttons .btn:nth-child(2),
.buttons .btn:nth-child(3){
    background-color: rgb(0, 136, 248);
}

.buttons .btn:nth-child(4),
.buttons .btn:nth-child(8),
.buttons .btn:nth-child(12),
.buttons .btn:nth-child(16),
.buttons .btn:nth-child(18),
.buttons .btn:nth-child(20){
    background-color: rgb(240, 79, 10);
}
.buttons :nth-child(19) {
    background-color: rgb(13, 253, 0);
}

.backspace-btn {
    right: 10px;
    bottom: 10px;
    padding: 5px;
    font-size: 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background: #ddd;
}

.hidden {
    display: none;
}


#scientific-buttons {
    grid-column: span 4; 
    
}
.scientific-buttons .btn{
background-color: #07e9a9;
}
.history {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
}